# Text Search in PostgreSQL

<a id='task' /> </a>

## Task at Hand

In this exercise we will perform search over the Booklines table that we created in the practice. This exercise assumes that you already created and populated Boolines table and granted `dsa_ro_user` access to this table.

### Step 0: Connect to the database as dsa_ro_user

In [15]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_student

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: dsa_ro_user@dsa_student'

%%sql

GRANT USAGE ON SCHEMA lcmhng TO dsa_ro_user;
GRANT SELECT ON BookLines TO dsa_ro_user;

**Activity 1:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love or hate, using to_tsquery()

In [16]:
%%sql

SELECT id, name, line_no, line, ts_rank_cd(line_tsv_gin, query) AS rank
FROM lcmhng.BookLines, to_tsquery('love | hate') query
WHERE query @@ line_tsv_gin
ORDER BY rank DESC LIMIT 10;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_student
10 rows affected.

[(22181, '/dsa/data/all_datasets/book/luke.txt', 285, '6:32: For if ye love them which love you, what thank have ye? for sinners also love those that love them.', 0.4),
 (5985, '/dsa/data/all_datasets/book/2samuel.txt', 310, '13:15: Then Amnon hated her exceedingly; so that the hatred wherewith he hated her was greater than the love wherewith he had loved her.  And Amnon said unto her, Arise, be gone.', 0.4),
 (19259, '/dsa/data/all_datasets/book/john.txt', 620, '13:34: A new commandment I give unto you, That ye love one another; as I have loved you, that ye also love one another.', 0.3),
 (8709, '/dsa/data/all_datasets/book/deut.txt', 573, '21:15: If a man have two wives, one beloved, and another hated, and they have born him children, both the beloved and the hated; and if the firstborn son be hers that was hated:', 0.3),
 (1769, '/dsa/data/all_datasets/book/1john.txt', 25, ' 2:15: Love not the world, neither the things that are in the world. If any man love the world, the love of the Father is not in him.', 0.3),
 (1817, '/dsa/data/all_datasets/book/1john.txt', 73, ' 4:10: Herein is love, not that we loved God, but that he loved us, and sent his Son to be the propitiation for our sins.', 0.3),
 (1825, '/dsa/data/all_datasets/book/1john.txt', 81, ' 4:18: There is no fear in love; but perfect love casteth out fear: because fear hath torment. He that feareth is not made perfect in love.', 0.3),
 (1823, '/dsa/data/all_datasets/book/1john.txt', 79, ' 4:16: And we have known and believed the love that God hath to us. God is love; and he that dwelleth in love dwelleth in God, and God in him.', 0.3),
 (3310, '/dsa/data/all_datasets/book/1samuel.txt', 535, '20:17: And Jonathan caused David to swear again, because he loved him: for he loved him as he loved his own soul.', 0.3),
 (14553, '/dsa/data/all_datasets/book/hosea.txt', 35, '3:1: Then said the LORD unto me, Go yet, love a woman beloved of her friend, yet an adulteress, according to the love of the LORD toward the children of Israel, who look to other gods, and love flagons of wine.', 0.3)]

**Activity 2:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love and hate, using to_tsquery()

In [17]:
%%sql

SELECT id, name, line_no, line, ts_rank_cd(line_tsv_gin, query) AS rank
FROM lcmhng.BookLines, to_tsquery('love & hate') query
WHERE query @@ line_tsv_gin
ORDER BY rank DESC LIMIT 10;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_student
10 rows affected.

[(27112, '/dsa/data/all_datasets/book/proverbs.txt', 238, '8:36: But he that sinneth against me wrongeth his own soul: all they that hate me love death.', 0.05),
 (14222, '/dsa/data/all_datasets/book/hebrews.txt', 10, ' 1:9: Thou hast loved righteousness, and hated iniquity; therefore God, even thy God, hath anointed thee with the oil of gladness above thy fellows.', 0.0333333),
 (4176, '/dsa/data/all_datasets/book/2chron.txt', 384, '19:2: And Jehu the son of Hanani the seer went out to meet him, and said to king Jehoshaphat, Shouldest thou help the ungodly, and love them that hate the LORD?  therefore is wrath upon thee from before the LORD.', 0.0333333),
 (29340, '/dsa/data/all_datasets/book/psalms.txt', 1549, '97:10: Ye that love the LORD, hate evil: he preserveth the souls of his saints; he delivereth them out of the hand of the wicked.', 0.0333333),
 (15916, '/dsa/data/all_datasets/book/isaiah.txt', 1199, '61:8: For I the LORD love judgment, I hate robbery for burnt offering; and I will direct their work in truth, and I will make an everlasting covenant with them.', 0.0333333),
 (7606, '/dsa/data/all_datasets/book/amos.txt', 74, '5:15: Hate the evil, and love the good, and establish judgment in the gate: it may be that the LORD God of hosts will be gracious unto the remnant of Joseph.', 0.025),
 (23949, '/dsa/data/all_datasets/book/matthew.txt', 162, '6:24: No man can serve two masters: for either he will hate the one, and love the other; or else he will hold to the one, and despise the other. Ye cannot serve God and mammon.', 0.025),
 (22636, '/dsa/data/all_datasets/book/luke.txt', 740, '16:13: No servant can serve two masters: for either he will hate the one, and love the other; or else he will hold to the one, and despise the other. Ye cannot serve God and mammon.', 0.025),
 (24891, '/dsa/data/all_datasets/book/micah.txt', 31, '3:2: Who hate the good, and love the evil; who pluck off their skin from off them, and their flesh from off their bones; ', 0.025),
 (23920, '/dsa/data/all_datasets/book/matthew.txt', 133, '5:43: Ye have heard that it hath been said, Thou shalt love thy neighbour, and hate thine enemy.', 0.025)]

**Activity 3:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love, using to_tsquery()

In [18]:
%%sql

SELECT id, name, line_no, line, ts_rank_cd(line_tsv_gin, query) AS rank
FROM lcmhng.BookLines, to_tsquery('love') query
WHERE query @@ line_tsv_gin
ORDER BY rank DESC LIMIT 10;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_student
10 rows affected.

[(22181, '/dsa/data/all_datasets/book/luke.txt', 285, '6:32: For if ye love them which love you, what thank have ye? for sinners also love those that love them.', 0.4),
 (19303, '/dsa/data/all_datasets/book/john.txt', 664, '15:9: As the Father hath loved me, so have I loved you: continue ye in my love.', 0.3),
 (1825, '/dsa/data/all_datasets/book/1john.txt', 81, ' 4:18: There is no fear in love; but perfect love casteth out fear: because fear hath torment. He that feareth is not made perfect in love.', 0.3),
 (14553, '/dsa/data/all_datasets/book/hosea.txt', 35, '3:1: Then said the LORD unto me, Go yet, love a woman beloved of her friend, yet an adulteress, according to the love of the LORD toward the children of Israel, who look to other gods, and love flagons of wine.', 0.3),
 (19259, '/dsa/data/all_datasets/book/john.txt', 620, '13:34: A new commandment I give unto you, That ye love one another; as I have loved you, that ye also love one another.', 0.3),
 (1817, '/dsa/data/all_datasets/book/1john.txt', 73, ' 4:10: Herein is love, not that we loved God, but that he loved us, and sent his Son to be the propitiation for our sins.', 0.3),
 (1769, '/dsa/data/all_datasets/book/1john.txt', 25, ' 2:15: Love not the world, neither the things that are in the world. If any man love the world, the love of the Father is not in him.', 0.3),
 (1823, '/dsa/data/all_datasets/book/1john.txt', 79, ' 4:16: And we have known and believed the love that God hath to us. God is love; and he that dwelleth in love dwelleth in God, and God in him.', 0.3),
 (3310, '/dsa/data/all_datasets/book/1samuel.txt', 535, '20:17: And Jonathan caused David to swear again, because he loved him: for he loved him as he loved his own soul.', 0.3),
 (23051, '/dsa/data/all_datasets/book/malachi.txt', 2, "1:2: I have loved you, saith the LORD.  Yet ye say, Wherein hast thou loved us?  Was not Esau Jacob's brother?  saith the LORD: yet I loved Jacob,", 0.3)]

**Activity 4:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- test file, using plainto_tsquery()

In [21]:
%%sql

SELECT id, name, line_no, line, ts_rank_cd(line_tsv_gin, query) AS rank
FROM lcmhng.BookLines, plainto_tsquery('test file') query
WHERE query @@ line_tsv_gin
ORDER BY rank DESC LIMIT 10;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(31365, '/dsa/data/all_datasets/book/one_level_down/two_levels_down/test.txt', 0, 'This is just a test file', 0.1)]

<span style="background-color:yellow">_Question:_ what is the effect of the above search? Click here and type your answer.</span>

This plainto_tsquery search for 'test file' is finding lines with both 'test' and 'file'.

**Activity 5:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- The equivalent query from Activity 4 using to_tsquery()

In [22]:
%%sql

SELECT id, name, line_no, line, ts_rank_cd(line_tsv_gin, query) AS rank
FROM lcmhng.BookLines, to_tsquery('test & file') query
WHERE query @@ line_tsv_gin
ORDER BY rank DESC LIMIT 10;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(31365, '/dsa/data/all_datasets/book/one_level_down/two_levels_down/test.txt', 0, 'This is just a test file', 0.1)]

**Activity 6:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love, using plainto_tsquery()

In [23]:
%%sql

SELECT id, name, line_no, line, ts_rank_cd(line_tsv_gin, query) AS rank
FROM lcmhng.BookLines, plainto_tsquery('love') query
WHERE query @@ line_tsv_gin
ORDER BY rank DESC LIMIT 10;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_student
10 rows affected.

[(22181, '/dsa/data/all_datasets/book/luke.txt', 285, '6:32: For if ye love them which love you, what thank have ye? for sinners also love those that love them.', 0.4),
 (19303, '/dsa/data/all_datasets/book/john.txt', 664, '15:9: As the Father hath loved me, so have I loved you: continue ye in my love.', 0.3),
 (1825, '/dsa/data/all_datasets/book/1john.txt', 81, ' 4:18: There is no fear in love; but perfect love casteth out fear: because fear hath torment. He that feareth is not made perfect in love.', 0.3),
 (14553, '/dsa/data/all_datasets/book/hosea.txt', 35, '3:1: Then said the LORD unto me, Go yet, love a woman beloved of her friend, yet an adulteress, according to the love of the LORD toward the children of Israel, who look to other gods, and love flagons of wine.', 0.3),
 (19259, '/dsa/data/all_datasets/book/john.txt', 620, '13:34: A new commandment I give unto you, That ye love one another; as I have loved you, that ye also love one another.', 0.3),
 (1817, '/dsa/data/all_datasets/book/1john.txt', 73, ' 4:10: Herein is love, not that we loved God, but that he loved us, and sent his Son to be the propitiation for our sins.', 0.3),
 (1769, '/dsa/data/all_datasets/book/1john.txt', 25, ' 2:15: Love not the world, neither the things that are in the world. If any man love the world, the love of the Father is not in him.', 0.3),
 (1823, '/dsa/data/all_datasets/book/1john.txt', 79, ' 4:16: And we have known and believed the love that God hath to us. God is love; and he that dwelleth in love dwelleth in God, and God in him.', 0.3),
 (3310, '/dsa/data/all_datasets/book/1samuel.txt', 535, '20:17: And Jonathan caused David to swear again, because he loved him: for he loved him as he loved his own soul.', 0.3),
 (23051, '/dsa/data/all_datasets/book/malachi.txt', 2, "1:2: I have loved you, saith the LORD.  Yet ye say, Wherein hast thou loved us?  Was not Esau Jacob's brother?  saith the LORD: yet I loved Jacob,", 0.3)]

# Save your notebook, then `File > Close and Halt`