# Biclustering

In this exercise, we will explore the biclustering method on a spam dataset. Perform the following tasks: 

1. Create feature matrix using the raw text using TFIDF vectorizer 
    - you can use the one that is defined in the lab
2. Remove empty rows/columns from the TFIDF matrix
3. Apply spectral coclustering method on this matrix; extract two biclusters
4. Compare results against k-means
5. Identify the combination of spam and ham as well as important words in each bicluster
    - do these biclusters make sense in terms of topic mixture and words

In [1]:
import pandas as pd
from collections import defaultdict
import operator
from time import time
import numpy as np
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans
from sklearn.cluster import SpectralCoclustering,SpectralBiclustering
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.cluster import v_measure_score

*Original Dataset: https://www.kaggle.com/uciml/sms-spam-collection-dataset/home*

For this exercise, there are 100 sms that have been parsed and categorized as "Spam" or "Ham". The dataframe also contains the original text message.

### Load the database

In [2]:
df = pd.read_csv("/dsa/data/DSA-8410/spam.csv", encoding='latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df_sub = df[['v1', 'v2']][:100]
df_sub.columns = ['class', 'text']
df_sub.head()

  class                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
y_true = df_sub['class']
categories =['spam','ham']

### T1. Create a TFIDF matrix from the raw text. You can use `NumberNormalizingVectorizer` defined in the lab. Use min_df=3 and max_features = 100.

In [5]:
def number_normalizer(tokens):
    return ("#NUMBER" if token[0].isdigit() else token for token in tokens)

class NumberNormalizingVectorizer(TfidfVectorizer):
    def build_tokenizer(self):
        tokenize = super().build_tokenizer()
        return lambda doc: list(number_normalizer(tokenize(doc)))

In [6]:
vectorizer = NumberNormalizingVectorizer(stop_words='english', min_df=3, max_features=100)

In [7]:
X = vectorizer.fit_transform(df_sub['text'])

### T2. Remove empty rows (i.e. all values are 0) from the feature matrix. Also, update y_true by removing the labels corresponding to the empty rows.

In [8]:
df_new = pd.DataFrame.sparse.from_spmatrix(X, columns = vectorizer.get_feature_names())
df_new.head()

,#NUMBER,cash,claim,customer,did,didn,does,don,feel,finish,...,tell,text,tonight,txt,ur,want,way,won,yeah,yes
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.866189,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.322157,0.0,0.279525,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
non_empty = np.logical_not(df_new.sum(axis=1) == 0)
df_clean = df_new[non_empty]

y_true = y_true[non_empty]

In [10]:
X = df_clean.values

### T3. Define and fit a spectral coclustering model; use n_clusters = 2

In [11]:
cocluster = SpectralCoclustering(n_clusters=2, svd_method='arpack', random_state=0)

cocluster.fit(X)

SpectralCoclustering(n_clusters=2, random_state=0, svd_method='arpack')

### T4. Compare the peformance against k-Means using V-measure

In [12]:
y_cocluster = cocluster.row_labels_
y_cocluster

array([1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int32)

In [13]:
v_score = v_measure_score(y_cocluster, y_true)
print(f"V-measure: {v_score:.4f}")

V-measure: 0.1300

In [14]:
kmeans = KMeans(n_clusters=2, random_state=0)
y_kmeans = kmeans.fit_predict(X)

In [15]:
v_score = v_measure_score(y_kmeans, y_true)
print(f"V-measure: {v_score:.4f}")

V-measure: 0.5117

### T5. Identify the combination of spam and ham as well as important words in each bicluster. Do these biclusters make sense in terms of topic mixture and words?

In [16]:
feature_names = vectorizer.get_feature_names()
document_names = y_true.values

In [17]:
# Defining functions from labs

def bicluster_ncut(i):
    rows, cols = cocluster.get_indices(i)
    if not (np.any(rows) and np.any(cols)):
        import sys
        return sys.float_info.max
    row_complement = np.nonzero(np.logical_not(cocluster.rows_[i]))[0]
    col_complement = np.nonzero(np.logical_not(cocluster.columns_[i]))[0]
    # Note: the following is identical to X[rows[:, np.newaxis],
    # cols].sum() but much faster in scipy <= 0.16
    weight = X[rows][:, cols].sum()
    cut = (X[row_complement][:, cols].sum() +
           X[rows][:, col_complement].sum())
    return cut / weight


def most_common(d):
    """Items of a defaultdict(int) with the highest values.

    Like Counter.most_common in Python >=2.7.
    """
    return sorted(d.items(), key=operator.itemgetter(1), reverse=True)

In [18]:
bicluster_ncuts = list(bicluster_ncut(i)
                       for i in range(len(categories)))
best_idx = np.argsort(bicluster_ncuts)[:5]
best_idx

array([1, 0])

In [19]:
print()
print("Best biclusters:")
print("----------------")

for idx, cluster in enumerate(best_idx):
    n_rows, n_cols = cocluster.get_shape(cluster)
    cluster_docs, cluster_words = cocluster.get_indices(cluster)
    if not len(cluster_docs) or not len(cluster_words):
        continue

    # categories
    counter = defaultdict(int)
    for i in cluster_docs:
        counter[document_names[i]] += 1
    cat_string = ", ".join("{:.0f}% {}".format(float(c) / n_rows * 100, name)
                           for name, c in most_common(counter)[:3])

    # words
    out_of_cluster_docs = cocluster.row_labels_ != cluster
    out_of_cluster_docs = np.where(out_of_cluster_docs)[0]
    word_col = X[:, cluster_words]
    word_scores = np.array(word_col[cluster_docs, :].sum(axis=0) -
                           word_col[out_of_cluster_docs, :].sum(axis=0))
    word_scores = word_scores.ravel()
    important_words = list(feature_names[cluster_words[i]]
                           for i in word_scores.argsort()[:-11:-1])

    print("bicluster {} : {} documents, {} words".format(
        idx, n_rows, n_cols))
    print("categories   : {}".format(cat_string))
    print("words        : {}\n".format(', '.join(important_words)))

Best biclusters:
----------------
bicluster 0 : 60 documents, 36 words
categories   : 72% ham, 28% spam
words        : #NUMBER, like, free, sorry, ll, don, yes, tell, know, man

bicluster 1 : 20 documents, 10 words
categories   : 100% ham
words        : just, way, lar, tonight, going, home, lol, hi, ok, prize

Overall I believe these biclusters are good, however I am surprised to see the first one as a split of around 2/3 hamd and 1/3 spam as I would have thought maybe they would be more even. Nevertheless some of the words included in that one such as 'free', 'like', can be within both so it makes sense that those would be in the same cluster. 

For the second cluster however, seeing as it is 100% ham, I am surprised that the word 'prize' is represented as I would most likely categorize that as a common spam word. So to though these may be good, there could be some room for improvement in the clustering models.